
<header class="header">
  <div class="container header__holder">
    <a href="#" class="btn header__request d-none d-xl-block">Pošlji povpraševanje</a>
    <div class="row align-items-center justify-content-between align-items-stretch">
      <div class="col-auto order-2 order-xl-1">
        <a href="/" class="header__logo"><img src="img/logo.svg" alt=""></a>
      </div>
      <div class="col-auto order-1 order-xl-2">
        <div class="header__description">
          <span>Notranja in zunanja slikopleskarska dela že več kot</span>
          <b>40 let</b>
        </div>
      </div>
      <div class="col d-none d-xl-block order-3">
        <nav class="main-menu">
          <ul>
            <li>
              <a href="#">Storitve</a>
              <div class="sub-main-menu">
                <div class="sub-main-menu__holder">
                  <div class="service-menu">
                    <div class="row">
                      <div class="col-8">
                        <div class="service-menu__main">
                          <div class="row align-items-stretch">
                            <div class="col-6">
                              <ul class="service-menu__sections">
                                <li>
                                  <div class="service-menu__subtitle"><span ><img src="img/services/1.svg" alt="service 1"></span>Notranja slikopleskarska dela</div>
                                  <ul>
                                    <li><a href="#">Beljenje stanovanja ali hiše</a></li>
                                    <li><a href="#">Pleskanje stanovanja ali hiše</a></li>
                                    <li><a href="#">Glajenje in kitanje sten</a></li>
                                  </ul>
                                </li>
                                <li>
                                  <div class="service-menu__subtitle"><span ><img src="img/services/2.svg" alt="service 2"></span>Zunanja slikopleskarska dela</div>
                                  <ul>
                                    <li><a href="#">Barvanje fasad</a></li>
                                    <li><a href="#">Delo na večjih objektih</a></li>
                                    <li><a href="#">Pleskanje kovinskih ograj in nadstreškov</a></li>
                                  </ul>
                                </li>
                                <li>
                                  <div class="service-menu__subtitle"><span ><img src="img/services/3.svg" alt="service 3"></span>Izvedba hidroizolacije</div>
                                  <ul>
                                    <li><a href="#">Hidroizolacije teras</a></li>
                                    <li><a href="#">Notranje hidroizolacije objektov</a></li>
                                    <li><a href="#">Sanacija vlažnih zidov kletnih prostorov</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                            <div class="col-6">
                              <ul class="service-menu__sections">
                                <li>
                                  <div class="service-menu__subtitle"><span ><img src="img/services/4.svg" alt="service 4"></span>Suhomontažna gradnja</div>
                                  <ul>
                                    <li><a href="#">Postavitev pregradnih sten</a></li>
                                    <li><a href="#">Montaža spuščenih stropov</a></li>
                                    <li><a href="#">Montaža raztegljivih stropov</a></li>
                                    <li><a href="#">Oblaganje podstrešja</a></li>
                                  </ul>
                                </li>
                                <li>
                                  <div class="service-menu__subtitle"><span ><img src="img/services/5.svg" alt="service 5"></span>Delo s talnimi oblogami</div>
                                  <ul>
                                    <li><a href="#">Delo z industrijskimi tlaki</a></li>
                                  </ul>
                                </li>
                                <li>
                                  <div class="service-menu__subtitle"><span ><img src="img/services/6.svg" alt="service 6"></span>Pametne inštalacije</div>
                                  <ul>
                                    <li><a href="#">Montaža pametnih sten piši-briši</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="service-menu__business h-100">
                          <div class="service-menu__subtitle"><span ><img src="img/services/7.svg" alt="service 7"></span>Storitve za podjetja</div>
                          <p>Podjetje Habat d.o.o. je specializirano na področju slikopleskarstva v večjih proizvodnih obratih in poslovnih prostorih.</p>
                          <p>S pomočjo sodobne tehnologije in najnovejših orodij izvajamo slikopleskarska dela na objektih, kjer je potrebna obdelava velikih površin – stenskih ali tlakov. Beljenje večjih prostorov izvajamo z visokotlačnimi črpalkami za brizganje barve na pištolo, s katero lahko prebelimo tudi do 2.000m2 površin dnevno.</p>
                          <a href="#" class="btn">Preberite več</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Reference</a></li>
            <li><a href="#">Koristne informacije</a></li>
            <li><a href="#">O podjetju</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-auto order-4">
        <div class="ham-menu-trigger-wrap">
          <div class="ham-menu-trigger"></div>
        </div>
        <div class="header__contacts">
          <div class="header__phone">041 625 519</div>
          <a href="mailto:info@slikopleskarstvo-habat.si" class="header__mail">info@slikopleskarstvo-habat.si</a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="ham-menu">
  <div class="ham-menu__holder">
    <a href="#" class="btn">Pošlji povpraševanje</a>
    <ul>
      <li><a href="#">Storitve</a></li>
      <li><a href="#">Reference</a></li>
      <li><a href="#">Koristne informacije</a></li>
      <li><a href="#">O podjetju</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
    <div class="ham-menu__contacts">
      <div class="header__phone">041 625 519</div>
      <a href="mailto:info@slikopleskarstvo-habat.si" class="header__mail">info@slikopleskarstvo-habat.si</a>
    </div>
  </div>
</div>